
slangchain
langchain-openai
langchain-community
openai
chromadb
fastapi
uvicorn
python-dotenv
streamlit
faiss-cpu
numpy
pandas
tqdm
requests
typing-extensions
pypdf
markdown-it-py
mdurl
pygments
rich
pip
setuptools

